@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'League Spartan', sans-serif;
}

.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
a {
  @apply text-sm font-700
}

article {
  @apply py-11 px-5
}

p {
  @apply max-h-[50ch]
}

.indicators > * {
  @apply cursor-pointer p-2 relative font-600
}


.indicators > *:hover::before {
  @apply w-3/6 h-0.5 bg-white bottom-0 left-1/4 absolute content-[""];
}

.nav-activated {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0,0,0,0.6);
}

.hero-img {
  /* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/images/mobile-image-hero-1.jpg'); */
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
}