
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'League Spartan', sans-serif;
}

.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  font-size: min();
}
a {
  @apply text-sm font-700
}


p {
  @apply max-w-[50ch]
}

.indicators > * {
  @apply cursor-pointer py-2 relative font-600
}


.indicators > *:hover::before {
  @apply w-3/6 h-0.5 bg-white bottom-0 left-1/4 absolute content-[""];
}

.opened-navigation {
  /* background-color: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ); */
  /* background-color: black; */
  /* opacity: 0.5; */
}

.hero-img {
  /* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/images/mobile-image-hero-1.jpg'); */
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
}


.primary-navigation {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
  transition: transform 500ms ease-in-out;
}

[aria-expanded="true"]  {
  transform: translateX(0%);
}