
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'League Spartan', sans-serif;
}

.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  font-size: min();
}


.indicators > * {
  @apply cursor-pointer py-2 relative font-600
}
.indicators > *:hover::before {
  @apply w-3/6 h-0.5 bg-white bottom-0 left-1/4 absolute content-[""];
}
article {
  @apply flex flex-col justify-center px-5 py-10 max-w-[400px] mx-auto
} 

.primary-navigation {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  transition: transform 500ms ease-in-out;
}

[aria-expanded="true"]  {
  transform: translateX(0%);
}